<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h2>Sourcer Tools Kit Starter</h2>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href=/ aria-expanded="false">Strona główna</a>

        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        Kluczowe słowa
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Instrukcja</a>
                        </li>
                        <li>
                            <a href=/common-words>Generator</a>
                        </li>

                    </ul>
        </li>
    </ul>
</nav>